## 時系列データ

### 1ヶ月分のデータを作る

In [1]:
import pandas as pd
import numpy as np


dates = pd.date_range(start='2022-04-01', end='2022-04-30')
dates

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [2]:
rng = np.random.default_rng(123)
df = pd.DataFrame(rng.integers(1, 31, size=30),
                  index=dates,
                  columns=["乱数値"])
df

            乱数値
2022-04-01    1
2022-04-02   21
2022-04-03   18
2022-04-04    2
2022-04-05   28
2022-04-06    7
2022-04-07    8
2022-04-08    6
2022-04-09   11
2022-04-10    6
2022-04-11   11
2022-04-12   25
2022-04-13   14
2022-04-14   28
2022-04-15   14
2022-04-16    9
2022-04-17   24
2022-04-18   25
2022-04-19   26
2022-04-20   27
2022-04-21    1
2022-04-22   16
2022-04-23    9
2022-04-24    8
2022-04-25    8
2022-04-26   25
2022-04-27   24
2022-04-28    7
2022-04-29   13
2022-04-30   23

### 1年分365日のデータを作る

In [3]:
dates = pd.date_range(start='2022-01-01', periods=365)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [4]:
rng = np.random.default_rng(123)
df = pd.DataFrame(
    rng.integers(1, 31, size=365),
    index=dates,
    columns=["乱数値"]
)

df

            乱数値
2022-01-01    1
2022-01-02   21
2022-01-03   18
2022-01-04    2
2022-01-05   28
...         ...
2022-12-27   23
2022-12-28   17
2022-12-29    2
2022-12-30    7
2022-12-31   23

[365 rows x 1 columns]

### 月平均のデータにする

In [5]:
df.groupby(pd.Grouper(freq='ME')).mean()

                  乱数値
2022-01-31  14.516129
2022-02-28  12.892857
2022-03-31  16.935484
2022-04-30  12.933333
2022-05-31  16.612903
2022-06-30  14.200000
2022-07-31  14.161290
2022-08-31  15.935484
2022-09-30  13.500000
2022-10-31  13.483871
2022-11-30  14.300000
2022-12-31  17.741935

In [6]:
df.loc[:, "乱数値"].resample('ME').mean()

2022-01-31    14.516129
2022-02-28    12.892857
2022-03-31    16.935484
2022-04-30    12.933333
2022-05-31    16.612903
2022-06-30    14.200000
2022-07-31    14.161290
2022-08-31    15.935484
2022-09-30    13.500000
2022-10-31    13.483871
2022-11-30    14.300000
2022-12-31    17.741935
Freq: ME, Name: 乱数値, dtype: float64

### 複雑な条件のインデックス

In [7]:
pd.date_range(start='2022-01-01', end='2022-12-31', freq='W-SAT')

DatetimeIndex(['2022-01-01', '2022-01-08', '2022-01-15', '2022-01-22',
               '2022-01-29', '2022-02-05', '2022-02-12', '2022-02-19',
               '2022-02-26', '2022-03-05', '2022-03-12', '2022-03-19',
               '2022-03-26', '2022-04-02', '2022-04-09', '2022-04-16',
               '2022-04-23', '2022-04-30', '2022-05-07', '2022-05-14',
               '2022-05-21', '2022-05-28', '2022-06-04', '2022-06-11',
               '2022-06-18', '2022-06-25', '2022-07-02', '2022-07-09',
               '2022-07-16', '2022-07-23', '2022-07-30', '2022-08-06',
               '2022-08-13', '2022-08-20', '2022-08-27', '2022-09-03',
               '2022-09-10', '2022-09-17', '2022-09-24', '2022-10-01',
               '2022-10-08', '2022-10-15', '2022-10-22', '2022-10-29',
               '2022-11-05', '2022-11-12', '2022-11-19', '2022-11-26',
               '2022-12-03', '2022-12-10', '2022-12-17', '2022-12-24',
               '2022-12-31'],
              dtype='datetime64[ns]', freq='W-SAT')

In [8]:
df_year = pd.DataFrame(df.groupby(pd.Grouper(freq='W-SAT')).sum(), columns=['乱数値'])
df_year

            乱数値
2022-01-01    1
2022-01-08   90
2022-01-15  109
2022-01-22  128
2022-01-29   94
2022-02-05  119
2022-02-12  112
2022-02-19   59
2022-02-26   65
2022-03-05  142
2022-03-12   98
2022-03-19  124
2022-03-26  110
2022-04-02  116
2022-04-09   86
2022-04-16   74
2022-04-23   99
2022-04-30   98
2022-05-07  122
2022-05-14  100
2022-05-21  130
2022-05-28  102
2022-06-04  111
2022-06-11   72
2022-06-18  129
2022-06-25   91
2022-07-02  118
2022-07-09  121
2022-07-16   80
2022-07-23   97
2022-07-30   87
2022-08-06  146
2022-08-13  103
2022-08-20   90
2022-08-27  120
2022-09-03  109
2022-09-10   66
2022-09-17  108
2022-09-24   91
2022-10-01   88
2022-10-08   85
2022-10-15   96
2022-10-22  138
2022-10-29   78
2022-11-05   69
2022-11-12  114
2022-11-19  135
2022-11-26  102
2022-12-03   99
2022-12-10  117
2022-12-17  107
2022-12-24  132
2022-12-31  123